[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
open_clip_torch = "*"
omegaconf = "*"
wandb = "*"
tensorboard = "*"
tensorboardX = "*"
msgpack = "*"
torch = "*"
torchvision= "*"
huggingface_hub = "*"
shortuuid = "*"
pyglet = "<2"
h5py = "*"
open3d = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.10"
